<footer class="bg-dark text-white py-4">
    <div class="container">
        <section id="contact-information">
            <div class="row">
            <!-- Contact Information -->
            
                <div class="col-md-4">
                    <h3>Contact</h3>
                    <br>
                    <div>
                        <a href="tel:+91-90000-77070" class="btn btn-primary" data-tracking-element-type="3" jslog="56037; track:impression,click" itemprop="telephone" dir="ltr">Call now</a>
                    </div>
                    <br>
                    <div>
                        +91 9000077070
                        <br>
                        +91 9912350740
                        <br>
                        +91 9908330553
                    </div>
                </div>

            <!-- Address Information -->
                <div class="col-md-4">
                <h3>Address</h3>
                <br>
                <div>
                    <a href="https://goo.gl/maps/nyf9t7uz9dVpmwJ4A" target="_blank" class="btn btn-primary" data-tracking-element-type="6" jslog="56039; track:impression,click">Get directions</a>
                </div>
                <br>
                <div>
                    <address itemprop="address">
                        <div> Beside Master EK Vidhyalam, </div>
                        <div> Vidhya Nagar, 507101 Kothagudem, </div>
                        <div> Bhadradri District, Telangana, India</div>
                    </address>
                </div>
                
                </div>

            <!-- Business Hours -->
                <div class="col-md-4">
                <h3>Business Hours</h3>
                <br>
                <table itemprop="openingHours">
                    <tbody>
                        <tr>
                            <th>Mon:</th>
                            <td>9:00 AM – 8:00 PM</td>
                        </tr>
                        <tr>
                            <th>Tue:</th>
                            <td>9:00 AM – 8:00 PM</td>
                        </tr>
                        <tr>
                            <th>Wed:</th>
                            <td>9:00 AM – 8:00 PM</td>
                        </tr>
                        <tr>
                            <th>Thu:</th>
                            <td>9:00 AM – 8:00 PM</td>
                        </tr>
                        <tr>
                            <th>Fri:</th>
                            <td>9:00 AM – 8:00 PM</td>
                        </tr>
                        <tr>
                            <th>Sat:</th>
                            <td>9:00 AM – 8:00 PM</td>
                        </tr>
                        <tr>
                            <th>Sun:</th>
                            <td>9:00 AM – 01:00 PM</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </section>
    </div>
</footer>